body {
    margin: 0;
}

.background {
    height: auto;
    width: 100vw;
    position: fixed;
    transition: background-image 0.5s ease-in-out;
}

#current {
    z-index: 1;
}

.optionArea {
    transition: right 0.5s;
    top: 30px;
    right: -10px;
    position: fixed;
    z-index: 2;
}

.optionArea:hover {
    right: 0;
}