.background {
    height: 100vh;
    width: 100vw;
    position: fixed;
}

#current {
    z-index: 0;
}

#next {
    z-index: 1;
}

.optionArea {
    transition: right 0.5s;
    top: 30px;
    right: -10px;
    position: fixed;
    z-index: 2;
}

.optionArea:hover {
    right: 0;
}