body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
    overflow: hidden;
}

table {
    text-align: center;
    width: 100%;
}

.btn {
    width: 100%;
    border: 0;
}

.plus {

}

.text {
    text-align: center;
}